*Release/
*Release+Asserts/
Makefile.config
*klee-out*
snooze*
*pcache*
*.smt
guest-*
kdump-*
*.png
*.gnuplot
*.x
klee-last
lol*
*.out
*.err
*.so
*.db
smtlib_*
filtered_funcs.txt
lib/Expr/position.hh
lib/Expr/stack.hh
lib/Expr/location.hh